:root {
  box-sizing: border-box; }

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  color: white;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px; }

h1, h2, h3 {
  font-family: Raleway;
  font-weight: 700; }

ul {
  list-style-type: none; }

img {
  height: 100%;
  width: auto;
  display: block; }

button {
  border: 0; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 2em 0 2em;
  background-color: #1B2330; }
  .nav__logo {
    height: 1.8em; }
  .nav__item {
    font-size: 0.75rem;
    margin-left: 1.5em; }
    .nav__item--first {
      margin-left: auto; }

.hero {
  padding: 4em 2em 0;
  text-align: center;
  position: relative;
  background-color: #1c2431;
  z-index: 0; }
  .hero::before {
    position: absolute;
    content: "";
    bottom: 17em;
    left: 0;
    height: 11em;
    width: 100%;
    background: url("/images/bg-curvy-mobile.svg") bottom, #1c2431;
    background-size: 100% auto;
    background-repeat: no-repeat;
    z-index: -1; }
  .hero::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 17em;
    width: 100%;
    background: #181f2a;
    background-size: 100% auto;
    background-repeat: no-repeat;
    z-index: -1; }
  .hero__image {
    height: 16em;
    margin-bottom: 2.5em; }
    .hero__image img {
      margin: 0 auto; }
  .hero__title {
    font-size: 1.5rem;
    margin-bottom: 1em;
    line-height: 1.5; }
  .hero__desc {
    padding: 0 1em;
    margin-bottom: 2.5em;
    line-height: 1.7; }
  .hero__action {
    color: white;
    font-weight: 700;
    padding: 1.2em 6em;
    border-radius: 10em;
    background-image: linear-gradient(to right, #65e2d9, #339ecc); }

.features {
  background-color: red; }
  .features__image {
    height: 4em;
    margin-bottom: 2em; }
    .features__image img {
      margin: 0 auto; }
  .features__list {
    padding: 0 2em;
    text-align: center; }
    .features__list:first-child {
      padding-top: 10em; }
  .features__item {
    margin-top: 8em;
    display: inline-block;
    margin: 0 auto; }
    .features__item + .features__item {
      margin-top: 6em; }
  .features__title {
    margin-bottom: 0.5em; }
