$font-size: 14px;

:root {
  box-sizing: border-box;
  font-size: $font-size;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: inherit;
}

h1, h2, h3 {
  font-family: Raleway;
  font-weight: 700;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.15rem;
}

ul {
  list-style-type: none;
}

img {
  height: 100%;
  width: auto;
  display: block;
}

button {
  border: 0;
}

.action-button {
  color: white;
  font-weight: 700;
  border-radius: 10em;
  background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
}

@media (min-width: 1400px) {
  :root {
    font-size: 20px;
  }
}
