.features {
    background-color: hsl(218, 28%, 13%);

    &__image {
        height: 4.2em;
        margin-bottom: 2.5em;

        img {
            margin: 0 auto;
        }
        
    }

    &__list {
        padding: 0 2em;
        text-align: center;
        
        &:first-child {
            padding-top: 9.5em;
        }
    }

    &__item {
        display: inline-block;
        margin: 0 auto;

        & + .features__item {
            margin-top: 7em;
        }
    }

    &__title {
        font-size: 1.15rem;
        margin-bottom: 0.5em;
    }
}
