.footer {
    background-color: hsl(216, 53%, 9%);
    padding: 5.55em 2em 0;

    &__logo {
        margin-left: 0.8em;
    }

    &__location {
        letter-spacing: 1px;
        margin: 3em 0 0 2.8em;
        line-height: 1.7;
        position: relative;

        &::before {
            content: "";
            width: 20px;
            height: 16px;
            position: absolute;
            left: -2.8em;
            top: 0.5em;
            background-image: url("/images/icon-location.svg");
            background-repeat: no-repeat;
        }
    }

    &__number {
        margin: 1.4em 0 0 2.8em;
        position: relative;

        &::before {
            content: "";
            width: 18px;
            height: 18px;
            position: absolute;
            left: -2.5em;
            top: 0.2em;
            background-image: url("/images/icon-phone.svg");
            background-repeat: no-repeat;
            background-size: 13px 13px;
        }
    }

    &__email {
        margin: 1.4em 0 0 2.8em;
        position: relative;

        &::before {
            content: "";
            width: 20px;
            height: 16px;
            position: absolute;
            left: -2.6em;
            top: 0.25em;
            background-image: url("/images/icon-email.svg");
            background-repeat: no-repeat;
        }
    }

    &__pages {
        margin-top: 6em;

        & > li {
            margin-bottom: 1.3em;
        }
    }

    &__misc {
        margin-top: 4em;

        & > li {
            margin-bottom: 1.3em;
        }
    }


    &__social {
        margin-top: 5.9em;
        padding-bottom: 4em;
        display: flex;
        justify-content: center;
    }
  
    &__social-logo {
        display: inline-block;
        height: 2.2em;

        & + .footer__social-logo {
            margin-left: 1em;
        }
    }
}
