.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 2em 0 2em;
  margin-bottom: 4em;

  &__logo {
    height: 2em;
  }

  &__item {
    margin-left: 1.5em;

    &--first {
      margin-left: auto;
    }
  }
}
