.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 2em 0 2em;
  background-color: #1B2330;

  &__logo {
    height: 1.8em;
  }

  &__item {
    font-size: 0.75rem;
    margin-left: 1.5em;

    &--first {
      margin-left: auto;
    }
  }
}
