.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 1.5em 0;
  background-color: #1B2330;

  &__logo {
    height: 1.6em;
  }

  &__item {
    font-size: 0.8rem;
    margin-left: 1.8em;

    &--first {
      margin-left: auto;
    }
  }
}
