.usp {
    background-color: hsl(218, 28%, 13%);
    padding: 9.5em 2em 0;

    &__image {
        margin-bottom: 4em;
        height: 16em;

        img {
            margin: 0 auto;
        }
    }

    &__content {
        p {
            margin-bottom: 1.15em;
            line-height: 1.5
        }
    }

    &__title {
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 1em;
    }

    &__desc {

    }

    &__cta {
        width: calc(11em);
        display: inline-block;
        position: relative;
        font-size: 0.75rem;
        color: #5FDCD6;
        padding-bottom: 0.4em;
        border-bottom: 1px solid #5FDCD6;

        img {
            height: 16px;
            display: inline-block;
            position: absolute;
            bottom: 2;
            right: 0;
        }
    }
}
